<!DOCTYPE html>
<html lang="zh-Hant">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="stylesheet" href="{{ url_for('static', filename='s_styles.css') }}">
  <title>比賽查詢系統</title>
</head>
<body data-page="search">
  <div class = "container">
    <h2>🔍 查詢比賽</h2>

      <label for="sport-type">🥇 運動種類</label>
      <select id="sport-type" required>
        <option value="">請選擇</option>
        <option value="1">NBA</option>
        <option value="2">F1</option>
        <option value="3">MLB</option>
        <option value="4">CPBL</option>
        <option value="5">BWF</option>
      </select>

      <!-- 查詢方式 -->
      <label for="query-type">查詢方式</label>
      <select id="query-type" required>
        <option value="">請選擇</option>
        <option value="team">依隊伍</option>
        <option value="player">依球員</option>
      </select>

      <!-- 關鍵字 -->
      <label for="keyword">🔍 關鍵字（隊伍 / 球員）</label>
      <select id="keyword">
        <option value="">請先選擇 運動 與 查詢方式 </option>
      </select>

      <label for="date">📅 日期</label> 
      <br>
      <input type="date" id="date">

      <div class="button-wrapper">
        <button id="SearchBtn">查詢比賽</button>
      </div>
      <div id="searchResult" class="search-result"></div>

      </div>
  <div >
    <button class="backbtn" onclick = history.back();>返回上一頁</button>
  </div>
</body>
<script src="{{ url_for('static', filename='script.js') }}"></script>
</html>
