<!DOCTYPE html>
<html lang="zh-Hant">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>📢 公告與提醒管理</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='ans.css') }}">
  <style>
    
  </style>
</head>
<body data-page="announcement" data-admin-id="{{ admin_id }}" data-username="{{ username }}">
  <div class="announcement-container">
    <h2>📢 發佈公告</h2>
    <p>輸入要發送的公告內容（如：賽事延後、系統維護通知等）。</p>
    <p>🗓️ 發布日期：<span id="announceDate"></span></p>
    <textarea id="announcementInput" placeholder="例如：因天候因素，5/22 台灣 vs 日本 延後至 5/24 舉行"></textarea>
    <br>
    <div class="center-btn">
      <button id="PostBtn" type="button">發布公告</button>
    </div>
    <div id="announceStatus"></div>
    
    <hr>
    <h3 id="ShowAndHideBtn" style="cursor: pointer;">📜 顯示 / 隱藏 歷史公告</h3>
    <div id="historyArea" style="display: none;"></div>

  </div>
  <button id = 'back_btn' onclick="history.back();">返回上一頁</button>
</body>
<script src = "{{ url_for('static', filename = 'script.js') }}"></script>
</html>
