<!DOCTYPE html>
<html lang="zh-Hant">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel = "stylesheet" href = "{{ url_for('static', filename = 'sql.css') }}"
</head>

<body data-page="sql">
  <header>
    <h1>賽事資料操作區</h1>
  </header>

  <div class="sql-container">
    <div class="sql-card">
        <h2>查詢比賽</h2>
        <p>輸入條件查詢比賽</p>
        <input type="text" id="searchInput" placeholder="輸入比賽關鍵字">
        <button id="SearchBtn">查詢</button>
        <div id="searchResult" class="search-result" style="margin-top: 1rem;"></div>
    </div>

    <div class="sql-card">
        <h2>新增賽事</h2>
        <p>手動新增多筆比賽</p>
        <table id="addTable">
          <thead>
            <tr>
              <th>ID</th><th>對戰組合</th><th>日期</th><th>時間</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <div id = 'add-input'>
                <td><input type="text" placeholder="ID"></td>
                <td><input type="text" placeholder="對戰組合"></td>
                <td><input type="text" placeholder="YYYY-MM-DD"></td>
                <td><input type="text" placeholder="HH:MM"></td>
              </div>
            </tr>
          </tbody>
        </table>
        
        
        <div class="btns">
            <div class="add-btn">
                <button id="AddBtn">增加一行</button>
            </div>
            <div class="right-btn">
              <button id="SendAddBtn">送出新增</button>
            </div>
          </div>
      
        <div id="addStatus" style="margin-top: 1rem;"></div>
      </div>

      
    <div class="back_btn">
        <button onclick="history.back();">返回上一頁</button>
    </div>
      
  </div>

  <script src = "{{ url_for('static', filename = 'script.js') }}"></script>
</body>
</html>
