<!DOCTYPE html>
<html lang="zh-Hant">

<head>
    <meta charset="UTF-8">
    <title>TOYOTA Thailand Open 2025</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/BWF_official.css') }}">
    <script src="{{ url_for('static', filename='js/BWF_official.js') }}"> </script>
</head>

<body>
    <div class="container">
        <div class="main-area">
            <div class="header">
                <img src="{{ url_for('static', filename='img/BWF/match_centre_logo-01.42c584d3.svg') }}" alt="BWF Logo"
                    class="bwf-logo">
                <span class="match-centre">MATCH CENTRE</span>
            </div>
            <div class="main-content">
                <div class="center-logo">
                    <img src="{{ url_for('static', filename='img/BWF/47588502-0E12-4E96-9406-B32AF117C11E.png') }}"
                        alt="TOYOTA Thailand Open 2025">
                </div>
                <div class="tournament-title">TOYOTA Thailand Open 2025</div>
                <div class="tournament-date">13 - 18 May</div>
                <div class="main-underline"></div>
            </div>
        </div>
        <div class="side-panel">
            <div class="side-logo">
                <img src="{{ url_for('static', filename='img/BWF/47588502-0E12-4E96-9406-B32AF117C11E.png') }}"
                    alt="TOYOTA Thailand Open 2025">
            </div>
            <div class="side-title">TOYOTA Thailand Open 2025</div>
            <div class="side-date">13 - 18 May</div>
            <button class="order-play">ORDER OF PLAY</button>
            <ul class="result-match-cards">

                <li class="match-card">
                    <div class="court-row">
                        <span class="round-court court">COURT 1</span>
                    </div>
                    <div class="time">
                        <span timer><i class="far fa-fw fa-clock"></i> 0:12</span>
                    </div>

                    <div class="player-row team-details-wrap-card">

                        <div class="team1-logo team-logo-block flag img">
                            <select class="svg-select" style="display:none;">
                                <!-- 直接產生選項 -->
                                <option value="0">Flag_of_Chinese_Taipei_for_Olympic_Games.svg.webp</option>
                                <option value="1">Flag_of_Denmark.svg.webp</option>
                                <option value="2">Flag_of_Singapore.svg.webp</option>
                                <option value="3">Flag_of_Thailand.svg.webp</option>
                                <option value="4">Flag_of_the_People's_Republic_of_China.svg.webp</option>
                                <option value="5">Flag_of_Japan.svg.webp</option>
                            </select>
                            <div class="svg-preview"></div>
                            <div class="team1-name"></div>

                            <div class="svg-modal">
                                <div class="modal-content">
                                    <div class="logo-list"></div>
                                    <div class="close-btn-area">
                                        <button class="close-modal-btn">關閉</button>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <span class="player1">K VITIDSARN</span>

                        <div class="score"><i class="fas fa-fw fa-circle"></i>
                            <div><span contenteditable="true">12</span></div>
                        </div>
                    </div>
                    <div class="player-row team-details-wrap-card">

                        <div class="team2-logo team-logo-block">
                            <select class="svg-select" style="display:none;">
                                <!-- 直接產生選項 -->
                                <option value="0">Flag_of_Chinese_Taipei_for_Olympic_Games.svg.webp</option>
                                <option value="1">Flag_of_Denmark.svg.webp</option>
                                <option value="2">Flag_of_Singapore.svg.webp</option>
                                <option value="3">Flag_of_Thailand.svg.webp</option>
                                <option value="4">Flag_of_the_People's_Republic_of_China.svg.webp</option>
                                <option value="5">Flag_of_Japan.svg.webp</option>
                            </select>
                            <div class="svg-preview"></div>
                            <div class="team1-name"></div>

                            <div class="svg-modal">
                                <div class="modal-content">
                                    <div class="logo-list"></div>
                                    <div class="close-btn-area">
                                        <button class="close-modal-btn">關閉</button>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <span class="player3">LOH K Y</span>

                        <div class="score"><i class="fas fa-fw fa-circle"></i>
                            <div><span contenteditable="true">9</span></div>
                        </div>


                        <span class="dot green"></span>
                    </div>
                    <div class="match-status round-details">
                        <div class="round-details-text">
                            <span class="round-oop ">MS - SF</span>
                            <span class="round-status in-progress">IN PROGRESS</span>
                        </div>
                    </div>
                </li>

                <li class="match-card">
                    <div class="court-row">
                        <span class="round-court court">COURT 2</span>
                    </div>
                    <div class="time">
                        <span timer><i class="far fa-fw fa-clock"></i> 0:45</span>
                    </div>
                    <div class="player-row team-details-wrap-card">

                        <div class="team1-logo team-logo-block">
                            <select class="svg-select" style="display:none;">
                                <!-- 直接產生選項 -->
                                <option value="0">Flag_of_Chinese_Taipei_for_Olympic_Games.svg.webp</option>
                                <option value="1">Flag_of_Denmark.svg.webp</option>
                                <option value="2">Flag_of_Singapore.svg.webp</option>
                                <option value="3">Flag_of_Thailand.svg.webp</option>
                                <option value="4">Flag_of_the_People's_Republic_of_China.svg.webp</option>
                                <option value="5">Flag_of_Japan.svg.webp</option>
                            </select>
                            <div class="svg-preview"></div>
                            <div class="team1-name"></div>

                            <div class="svg-modal">
                                <div class="modal-content">
                                    <div class="logo-list"></div>
                                    <div class="close-btn-area">
                                        <button class="close-modal-btn">關閉</button>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <span class="player1">P CHOCHUWONG</span>

                        <div class="score"><i class="fas fa-fw fa-circle"></i>
                            <div>
                                <span contenteditable="true">21</span>
                                <span contenteditable="true">20</span>
                            </div>
                        </div>


                        <span class="dot green"></span>
                    </div>
                    <div class="player-row team-details-wrap-card">

                        <div class="team2-logo team-logo-block">
                            <select class="svg-select" style="display:none;">
                                <!-- 直接產生選項 -->
                                <option value="0">Flag_of_Chinese_Taipei_for_Olympic_Games.svg.webp</option>
                                <option value="1">Flag_of_Denmark.svg.webp</option>
                                <option value="2">Flag_of_Singapore.svg.webp</option>
                                <option value="3">Flag_of_Thailand.svg.webp</option>
                                <option value="4">Flag_of_the_People's_Republic_of_China.svg.webp</option>
                                <option value="5">Flag_of_Japan.svg.webp</option>
                            </select>
                            <div class="svg-preview"></div>
                            <div class="team1-name"></div>

                            <div class="svg-modal">
                                <div class="modal-content">
                                    <div class="logo-list"></div>
                                    <div class="close-btn-area">
                                        <button class="close-modal-btn">關閉</button>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <span class="player3">S KATETHONG</span>
                        <div class="score"><i class="fas fa-fw fa-circle"></i>
                            <div>
                                <span contenteditable="true">9</span>
                                <span contenteditable="true">18</span>
                            </div>
                        </div>

                    </div>
                    <div class="match-status round-details">
                        <div class="round-details-text">
                            <span class="round-oop ">MS - SF</span>
                            <span class="round-status in-progress">IN PROGRESS</span>
                        </div>
                    </div>
                </li>
            </ul>

        </div>
    </div>
</body>

</html>