<!DOCTYPE html>
<html lang="zh-Hant">

<head>
    <meta charset="UTF-8">
    <title>NBA 比分板</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/NBA.css') }}">
</head>

<body>
    <div class="scoreboard-container">
        <div class="scoreboard-header">
            <span id="playoff-round"></span>
            <span> • </span>
            <span id="game-number"></span>
        </div>
        <div class="scoreboard-main">
            <div class="team-block">
                <img id="home-flag" class="team-logo" src="" alt="主隊Logo">
                <div class="team-info">
                    <span id="home-team-rank" class="team-rank"></span>
                    <span id="home-name" class="team-name"></span>
                </div>
            </div>
            <div class="score-block">
                <span id="home-score" class="score"></span>
                <div>
                    <span id="score-arrow"></span>
                    <span id="game-status"></span>
                </div>
                <span id="away-score" class="score"></span>
            </div>
            <div class="team-block">
                <img id="away-flag" class="team-logo" src="" alt="客隊Logo">
                <div class="team-info">
                    <span id="away-team-rank" class="team-rank"></span>
                    <span id="away-name" class="team-name"></span>
                </div>
            </div>
        </div>
        <div class="scoreboard-footer">
            <span id="series"></span>
        </div>
    </div>
    <div class="scoreboard-update">
        <div id="last-update-time">上次更新時間：--</div>
    </div>
    <script src="{{ url_for('static', filename='js/NBA.js') }}"></script>
</body>

</html>